<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Clase_23.EntidadesV2.Properties.Settings.conexion"
            connectionString="Data Source=LAB4PC26/SQLEXPRESS;Initial Catalog=persona_bd;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>